<html ng-app="myapp">
<head>
    <title>Media Pic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/kuro.css">
    <link rel="stylesheet" href="css/backgroundColor.css">
    <link rel="stylesheet" href="lib/toast.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.min.js'></script>
    <!--for autocomplete-->
    <script src="//kendo.cdn.telerik.com/2016.1.226/js/kendo.all.min.js"></script>
    <!-- minified for production -->
    <script src="https://cdn.jsdelivr.net/angular.bootstrap/1.2.2/ui-bootstrap-tpls.min.js"></script>
    <script src="http://darylrowland.github.io/angucomplete/js/app/directives/angucomplete.js"></script>
    <!--......................-->


    <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
    <script src="lib/toast.js"></script>
    <script src="jsFiles/app.js"></script>

</head>

<body class="container-fluid" ng-controller="MyController" style="background-color: lightblue">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SOCIAL MEDIA SURVEY</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#foot">About</a></li>
            <!--<li><a href="#">Page 2</a></li>-->
            <!--<li><a href="#">Page 3</a></li>-->
        </ul>
    </div>
</nav>
<!--<div class="alert alert-info centered"><h1>SOCIAL MEDIA SURVEY</h1></div>-->

<section class=" centered content bgcolor-4">
    <span class="input input--kuro">
        <input class="input__field input__field--kuro" type="text" id="input-7" ng-model="name"/>
        <label class="input__label input__label--kuro" for="input-7">
            <span class="lgFont input__label-content input__label-content--kuro">Name</span>
        </label>
    </span>
    <h3 ng-show="name"><span class="redFont">Name: </span>{{name}}</h3>

</section>

<div class="row centered alert alert-info">
    <div class="col-sm-12">
        <button class="btn btn-info" data-toggle="collapse" data-target="#demo">Click For Instructions</button>
        <br>
        <div id="demo" class="collapse">
            <br>
            Look and evaluate images closely and answers the questions below.
            <br>
        </div>
    </div>
    <div class="col-sm-12" style="margin-top: 2%">
        <img class="img-responsive center-block img-circle" src="A.jpg" alt="choice a">

    </div>

</div>
<div class="centered row">
    <div class="col-sm-0 col-md-3"></div>
    <div class="col-sm-12 col-md-6" style="background-color:lavenderblush;">
        <h1>Questions: scale from 1 to 10</h1>
        <div class="quesDiv">
            <span class="qFont"> 1) What would you rate this persons appearance? <input class="borderRad" ng-model="answer1"  type="number" min="1" max="10" placeholder="5"></span>
            <br><br><span class="qFont">2) What would you rate this persons personality? <input class="borderRad" ng-model="answer2" type="number" min="1" max="10" placeholder="5"></span>
            <br><br><span class="qFont">3) What would you rate this persons personality? <input class="borderRad" ng-model="answer3" type="number" min="1" max="10" placeholder="5"></span>

        </div>
    </div>
    <div class="col-sm-0 col-md-3"></div>
</div>

<div ng-show="showComments" class=" row centered background" id="messagesDiv"  >
    <h2>COMMENTS</h2>

    <div  ng-repeat="msg in messages">
        <div class="border">
           <span class="commentFont"><em>{{msg.from}}</em>: </span><span class="qFont">{{msg.comment}}</span>

        </div>
    </div>
    <h1>Class Statistics</h1>
    <div class="col-sm-6 col-md-4 gaugeBack">
                <div class="gauge-container img-responsive center-block">
            <span kendo-radialgauge
                  k-scale="{ min:0, max: 10}"
                  ng-model="messages[lastId].Q1Avg"
            ></span>
                    <h3 class="blackFont">Question 1 Aver: {{messages[lastId].Q1Avg | number:2}}</h3>
                </div>

    </div>
    <div class="col-sm-6 col-md-4 gaugeBack">
            <div class=" gauge-container center-block">
            <span kendo-radialgauge
                  k-scale="{ min:0, max: 10}"
                  ng-model="messages[lastId].Q2Avg"
            ></span>
                <h3 class="blackFont">Question 2 Aver: {{messages[lastId].Q2Avg | number:2}}</h3>
            </div>

    </div>
    <div class="col-sm-6 col-md-4 gaugeBack">
            <div class="gauge-container img-responsive center-block">
            <span kendo-radialgauge
                  k-scale="{ min:0, max: 10}"
                  ng-model="messages[lastId].Q3Avg"
                  step="1"
            ></span>
                <h3 class="blackFont">Question 3 Aver: {{messages[lastId].Q3Avg | number: 2}}</h3>
            </div>
    </div>
</div>

<div class="centered row">
    <div class="col-sm-12">
        <h3>Write a comment</h3>
    </div>
    <div class="commentDiv centered col-sm-12 col-md-12">
         <textarea class="qfont2" ng-model="comment" placeholder="Your Comment Goes Here....."></textarea>
    </div>

    <div class="col-sm-12" style="margin-top: 2%">
            <toaster-container toaster-options="{'time-out': 3200, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
            <button ng-hide="showSend"  class="btn btn-success" ng-click="addMessage()">Submit Answers</button>

            <button ng-show="showCommentsBtn" class="btn btn-info" ng-click="viewComments()">View Comments</button>
            <button ng-show="hideCommentsBtn" class="btn btn-warning" ng-click="hideComments()">Hide Comments</button>
    </div>
</div>

<nav id="foot" style="margin-top: 5%" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">About</a>
        </div>
        <div class=" row nav navbar-nav">
            <div class="col-sm-12">
                <h3>This is a survey for a class project.  This programs framework is AngularJs( along with
                    AngularFire), Bootstrap was used for appearance and for mobile re-adjustment, and Firebase
                    for storing data and displaying data asynchronously. </h3>
            </div>
         </div>
    </div>
</nav>

</body>

</html>